body {
    background-color: #ff0090;
    background-image: linear-gradient(0deg, #ff0090 5%, #00fcff 99%);
    text-align: center;
}

#heading {
    font-size: 50px;
    width: 90%;
    letter-spacing: 10px;
    font-variant: small-caps;
    color: mediumblue;
    background-color: #ff0090;
    border-radius: 20px;
}

input {
    text-align: center;
    background-color: #79f8eb;
    border: 2px solid black;
}

h4 {
    background-color: white;
    width: 35%;
    height: 30px;
    padding-top: 2px;
    border-radius: 10px;
    color: blue;
}

canvas {
    border: 5px solid crimson;
    border-radius: 50px;
    box-shadow: 30px 20px 40px white;
    margin-top: 150px;
}